<div class="container  ">
  <h2>Create New Aricle</h2>
  <div class="form border border-1 rounded shadow-lg p-3 bg-body rounded">
    <form action="/create-post" method="POST" class="p-5">
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title </label>
        <input type="text" class="form-control" id="title" name="title" minlength="20" maxlength="100" required>
      </div>
  
      <!-- Slug -->
      <div class="mb-3">
        <label for="slug" class="form-label">Slug </label>
        <input type="text" class="form-control" id="slug" name="slug" required>
      </div>
  
      <!-- Link -->
      <div class="mb-3">
        <label for="link" class="form-label">Link </label>
        <input type="url" class="form-control" id="link" name="link" required>
      </div>
  
      <!-- Category -->
      <div class="mb-3">
        <label for="category" class="form-label">Category </label>
        <input type="text" class="form-control" id="category" name="category">
      </div>
  
      <!-- Describe -->
      <div class="mb-3">
        <label for="describe" class="form-label">Describe </label>
        <textarea class="form-control" id="describe" name="describe"></textarea>
      </div>
  
      <!-- Avatar -->
      <div class="mb-3">
        <label for="avatar" class="form-label">Avatar </label>
        <input type="text" class="form-control" id="avatar" name="avatar">
      </div>
  
      <!-- Detailed Information -->
      <div class="mb-3">
        <label for="detailed_information" class="form-label">Detailed Information </label>
        <textarea class="form-control" id="detailed_information" name="detailed_information" required></textarea>
      </div>
  
      <!-- Author -->
      <div class="mb-3">
        <label for="author" class="form-label">Author </label>
        <input type="text" class="form-control" id="author" name="author" required>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>